@model StationViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5 pt-5" dir="rtl">
    <div class="text-center mb-5">
        <h1>Station Details</h1>
    </div>
<div class="col-md-7 m-auto">
        <div class="card  text-center">
        <div class="card-header">
                <h5 class="card-title">@Model.Name</h5>
        </div>
        <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Model.Branch</li>
                    <li class="list-group-item">@Model.SanitaryDrain</li>
                    <li class="list-group-item">Number Of Stages :@Model.NumberOfStages</li>
                    <li class="list-group-item">Processing Type :@Model.ProcessingType</li>
                    <li class="list-group-item">Processing System :@Model.ProcessingSystem</li>
                    <li class="list-group-item">Design Flow :@Model.DesignEnergy</li>
                </ul>
               
        </div>
            <div class="card-footer text-muted">
                <h5 class="card-title">@Model.StationStatus</h5>
            </div>
    </div>
</div>
</div>

