<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>               
                <a class="nav-link" asp-controller="Branchs" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-code-branch"></i></div>
                    Branch
                </a>
                <a class="nav-link" asp-controller="SanitaryDrain" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-asterisk"></i></div>
                    Sanitary Drain
                </a>
                <a class="nav-link" asp-controller="ProcessingSystems" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa-brands fa-ubuntu"></i></div>
                    Processing System
                </a>
                <a class="nav-link" asp-controller="Stations" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-arrow-up-from-water-pump"></i></div>
                    Station
                </a>
               
                <div class="sb-sidenav-menu-heading">Interface</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Experiment
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" asp-action="Index" asp-controller="Unit">Unit</a>
                        <a class="nav-link" asp-action="Index" asp-controller="Experiments">Experiment</a>
                       
                       
                    </nav>
                </div>
                <div class="sb-sidenav-menu-heading">Experiment tests</div>
                <a class="nav-link" asp-action="Index" asp-controller="Tests">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-vials"></i></div>
                    Tests
                </a>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Reports
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                    <a class="nav-link" asp-action="GetFilterForReport" asp-controller="Tests">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-file-lines"></i></div>
                        Tests
                    </a>
                </div>
               @*  <div class="sb-sidenav-menu-heading">Addons</div>
                <a class="nav-link" href="charts.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Charts
                </a>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Tables
                </a>
            </div> *@
        </div>
      
    </nav>
</div>