<div class="modal-footer px-0">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary js-loading">
        <span class="indicator-label">
            Save
        </span>
      
    </button>
</div>