@model CreateProcessingSystemViewModel


<form asp-action="Create"
      data-ajax-method="post"
      data-ajax="true"
      data-ajax-complete="onGeneralModelComplete"
      data-ajax-failure="showErrorMessage" >
     
    @if (Model?.Id > 0)
    {
        <input asp-for="@Model.Id" hidden />
    }
    <div>
        <div class="form-floating">
            <input type="text" class="form-control" placeholder="" asp-for="Name" />
            <label asp-for="Name">Name</label>
        </div>
        <span asp-validation-for="Name" class="text-danger d-block"></span>
    </div>

    <partial name="_ModelFooter" />

</form>
